@import "../fonts/Exo2-Regular.ttf";

@font-face {
    font-family: 'Exo';
    src: url('../fonts/Exo2-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Exo', sans-serif;
    margin: 0;
    padding: 0;
}

.header-image{
    width: 100%;
}

.header-image img{
    width: 100%;
    height: auto;
}
