body {
    background: rgba(255, 255, 255, 0.9);
    color: rgba(151, 151, 151, 0.9);
    font-family: Helvetica, geneva, sans-serif;
}

#container {
    position: relative;
    display: block;
    width: 750px;
    height: 300px;
    margin: 150px auto 0;
}

.error_msg #code {
    position: absolute;
    width: 350px;
    height: 200px;
    text-align: center;
    font-size: 200px;
}

.error_msg #err {
    position: absolute;
    top: 50px;
    left: 350px;
    width: 400px;
    height: 200px;
    text-align: center;
    font-size: 80px;
}

.error_msg #err_comm {
    font-size: 40px;
}

.comment {
    position: absolute;
    top: 230px;
    display: block;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
}

#home {
    position: absolute;
    top: 300px;
    left: 300px;
    display: block;
}