@import "../fonts/Exo2-Regular.ttf";

@font-face {
    font-family: 'Exo';
    src: url('../fonts/Exo2-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Exo', sans-serif;
    margin: 0;
    padding: 0;
}

/*buttons*/
#show_aspirants_btn{
    font-weight: bold;
    background: rgba(67, 191, 242, 0.81);
    border-radius: 13px;
}
#show_aspirants_btn:hover{
    background: rgba(67, 191, 242, 1);
}

.header-image{
    width: 100%;
}

.header-image img{
    width: 100%;
}