body {
    background: rgba(255, 255, 255, 0.9);
    color: rgba(151, 151, 151, 0.9);
    font-family: Helvetica, geneva, sans-serif;
}

#container {
    position: relative;
    display: block;
    width: 700px;
    height: 300px;
    margin: 150px auto 0;
}

.error_msg #code {
    position: absolute;
    width: 250px;
    height: 150px;
    text-align: center;
    font-size: 130px;
}

.error_msg #err {
    position: absolute;
    top: 55px;
    left: 250px;
    width: 500px;
    height: 100px;
    text-align: center;
    font-size: 70px;
}

.error_msg #err_comm {
    font-size: 40px;
}

.comment {
    position: absolute;
    display: block;
    top: 150px;
    text-align: center;
    font-size: 35px;
}

#home {
    position: absolute;
    top: 270px;
    left: 300px;
    display: block;
}
