@import "../fonts/Exo2-Regular.ttf";

@font-face {
    font-family: 'Exo';
    src: url('../fonts/Exo2-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    background: white;
    color: white;
    font-size: 12px;
    font-family: 'Exo', sans-serif;

}

.ground {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    background-color: #33414d;
    background-size: cover;
    z-index: 0;
}

.header {
    position: absolute;
    top: 32%;
    left: 18%;
    z-index: 2;
    text-shadow: 0 6px 50px black;
}

.header div {
    float: left;
    color: white;
    font-family: 'Exo', sans-serif;
    font-size: 7em;
    font-weight: 400;
}

.header div span {
    /*color: #385bfa;*/
    color: #5379fa;
}

.login {
    position: absolute;
    top: 25%;
    left: 50%;
    height: 230px;
    width: 280px;
    text-align: center;
    padding: 50px 10px 50px 9%;
    z-index: 2;
    border-left: 1px solid rgba(74, 207, 136, 0.6);
    border-radius: 1px;
}

.login button {
    padding: 10px;
}

.login button:hover {
    color: #49C07A;
}

.login input[type=text] {
    width: 250px;
    height: 40px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.75);
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.75);
    font-family: 'Exo', sans-serif;
    font-size: 25px;
    font-weight: 400;
    padding: 4px;
}

.login input[type=password] {
    width: 250px;
    height: 40px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.75);
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.75);
    font-family: 'Exo', sans-serif;
    font-size: 25px;
    font-weight: 400;
    padding: 4px;
    margin-top: 20px;
}

.login input[type=submit] {
    width: 260px;
    height: 45px;
    background: #4acf88;
    border: 1px solid #4acf88;
    cursor: pointer;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.75);
    font-family: 'Exo', sans-serif;
    font-size: 27px;
    font-weight: 400;
    padding: 3px;
    margin-top: 50px;
}

.login input[type=text]:hover,
.login input[type=password]:hover {
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
}

.login input[type=submit]:hover,
.login input[type=submit]:active {
    color: rgb(255, 255, 255);
    background: #49C07A;
}

.login input[type=text]:focus {
    outline: none;
    border: 1px solid #4acf88;
    color: rgb(255, 255, 255);

}

.login input[type=password]:focus {
    outline: none;
    border: 1px solid #4acf88;
    color: rgb(255, 255, 255);
}

.login input[type=submit]:focus {
    outline: none;
}

.grad {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.65))); /* Chrome,Safari4+ */
    z-index: 1;
    opacity: 0.8;
}

.err_messages {
    font-family: 'Exo', sans-serif;
    font-size: 17px;
    position: relative;
    bottom: 90px;
    text-align: center;
    z-index: 3;
    color: red;
}

/*local panel*/

.lang {
    position: relative;
    z-index: 10;
    float: right;
    margin: 0 20px;
    font-size: 1.5em;
}

.lang_btn {
    background: none;
    text-decoration: none;
    text-underline: none;
    border: none;
    color: white;
    cursor: pointer;
}

.lang_btn button:active, button:focus {
    border: none;
}

/*registration modal frame*/
.overlay:target + .modal {
    top: 10%;
}

#modal_form_id {
    width: 100%;
    max-width: 550px;
    color: black;
}

#frame_title {
    margin-bottom: 30px;
}

#login_input,
#phone_input,
#pass_input,
#pass_again_input,
#name_input,
#surname_input {
    width: 50%;
    height: 43px;
    font: inherit;
    font-size: 19px;
    overflow-x: hidden;
    float: right;
    margin-bottom: 15px;
}

#pass_input {
    position: relative;
    top: 20px;
    float: none;
    width: 90%;
}

#pass_again_input {
    width: 100%;
    float: none;
    position: relative;
    top: 20px;
}

.block {
    display: table-row;
    width: 50%;
}

.inner_block {
    display: inline-block;
    height: 80px;
    width: 50%;
}

.message {
    position: relative;
    top: 25px;
    font-family: 'Exo', sans-serif;
    font-size: 15px;
    z-index: 3;
    color: red;
}

.popup label {
    position: relative;
    top: 7px;
    font-size: 17px;
}

/*buttons*/
.popup .buttons {
    margin: 20px auto;
    font-size: 19px;
    font-weight: bold;
    background: rgba(65, 169, 219, 0.7);
    display: inline-block;
    border-radius: 4px;
    border: none;
    height: 48px;
    padding: 8px 10px;
}

#sign_up_btn {
    position: relative;
    top: 25px;
    float: right;
    margin-right: 20px;
    z-index: 10;
    font-size: 19px;
    border: none;
    background: none;
    color: rgba(255, 255, 255, 0.85);
    cursor: pointer;
}

#sign_up_btn:hover {
    color: rgb(74, 207, 136);
}

#cancel_btn {
    width: 50%;
    margin: 50px 0px 10px;
    font-size: 19px;
    font-weight: bold;
    background: rgba(65, 169, 219, 0.7);
    display: inline-block;
    border-radius: 4px;
    height: 48px;
    padding: 8px 10px;
    float: right;

}

#submit_btn {
    width: 45%;
    margin: 50px auto 10px;
    font-size: 19px;
    font-weight: bold;
    background: rgba(65, 169, 219, 0.7);
    display: inline-block;
    border-radius: 4px;
    padding: 8px 10px;
}

#submit_btn:hover {
    background: rgba(74, 207, 136, 0.6);
}

#cancel_btn:hover {
    background: rgba(219, 79, 71, 0.6);
}

.overlay {
    background-color: rgba(10, 10, 10, 0.3);
}

::-webkit-input-placeholder {
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
}

#modal_form_id ::-webkit-input-placeholder {
    text-align: center;
    color: rgba(66, 73, 74, 0.65);
}

@media only screen and (min-width: 1001px) and (max-width: 1300px) {
    .login {
        border-left: none;
    }
}

@media only screen and (max-width: 1000px) {

    .header {
        position: absolute;
        top: 15%;
        left: 28%;
        padding: 0;
    }

    .login {
        position: absolute;
        top: 35%;
        left: 28%;
        padding: 100px 50px;
        border-left: none;
        border-top: 1px solid rgba(74, 207, 136, 0.6);
    }
}
