@import "../fonts/Exo2-Regular.ttf";

@font-face {
    font-family: 'Exo';
    src: url('../fonts/Exo2-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Exo', sans-serif;
    margin: 0;
    padding: 0;
}

/*page*/

.page table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

.page {
    position: relative;
    max-width: 1500px;
    min-width: 830px;
    margin: 60px auto;
    width: 65%;
}

/*table*/
.notes_table th, td, tr, caption {
    border-bottom: 1px solid #000000;
    padding: 25px 25px;
}

.notes_table thead{
    border-top: none;
}

.login-field{
    width: 20%;
}

.name-field{
    width: 20%;
}

.phone-field{
    width: 20%;
}

.status-field{
    width: 10%;
}

.actions-td{
    width: 40%;
}

.type_and_status_td {
    width: 15%;
    font-size: 13px;
}

.type_and_status_td span {
    font-size: 19px;
}

.comment_td {
    width: 60%;
}

.actions-td {
    width: 20%;
    padding: 25px 25px;
    margin-bottom: 0;
}

#action_td_note {
    width: 10%;
    padding: 35px 25px;
}

.forms{
    margin: 0;
}

#status_select{
    border-radius: 4px;
    width: 230px;
    padding: 7px;
    font-size: 18px;
}

#status_select:focus{
    outline: none;
    border: 1px solid #4acf88;
    -moz-box-shadow: 0 0 2px 1px rgb(204, 204, 204);
    -webkit-box-shadow: 0 0 2px 1px rgb(204, 204, 204);
    box-shadow: 0 0 2px 1px rgb(204, 204, 204);
    overflow: hidden;
}

/*add new note frame*/
.popup {
    width: 900px;
}

.note_input {
    float: left;
    width: 700px;
    margin: 30px;
}

.note_label {
    float: top;
}

.popup .selectors {
    float: left;
    width: 120px;
    margin: 50px 20px 20px 0;
}

.popup .selectors select {
    margin-bottom: 30px;
}

.text_area_control {
    resize: none;
}

/*buttons*/

/*#submit_status_btn{*/
   /*position: relative;*/
    /*right: -30px;*/
/*}*/

#add_interview_btn {
    margin: 50px 25px;
    font-weight: bold;
    background-color: rgba(74, 207, 136, 0.8);
}

#add_interview_btn:hover {
    background-color: rgba(74, 207, 136, 1);
}

#submit_btn {
    margin: 10px auto;
    font-size: 19px;
    font-weight: bold;
    background: rgba(65, 169, 219, 0.7);
}

#submit_btn:hover {
    background: rgba(65, 169, 219, 0.9);
}

#delete_interview_btn {
    background: rgba(67, 191, 242, 0.81);
    border-radius: 13px;
}

#delete_interview_btn:hover {
    background: rgba(67, 191, 242, 1);
}

