@import "../fonts/Exo2-Regular.ttf";

@font-face {
    font-family: 'Exo';
    src: url('../fonts/Exo2-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Exo', sans-serif;
    margin: 0;
    padding: 0;
}

.users-table th, td {
    border-bottom: 1px solid #000000;
    padding: 20px 15px;
    font-size: 18px;
    text-align: center;
}

.page table {
    border-collapse: collapse;
    width: 100%;
}

.page {
    max-width: 1500px;
    min-width: 900px;
    margin: 0 auto;
    width: 50%;
}

.login-field {
    width: 20%;
}

.name-field {
    width: 30%;
}

.phone-field {
    width: 20%;
}

.status-field {
    width: 15%;
}

.actions-td {
    width: 15%;
}

.header-image {
    width: 100%;
}

.header-image img {
    width: 100%;
}

/*Buttons*/
#block_btn {
    min-width: 85px;
    background: rgba(204, 34, 17, 0.71);
    border-radius: 13px;
}

#block_btn:hover {
    background: rgba(204, 34, 17, 0.91);
}

#unblock_btn {
    min-width: 85px;
    border-radius: 13px;
}