@import "../fonts/Exo2-Regular.ttf";

@font-face {
    font-family: 'Exo';
    src: url('../fonts/Exo2-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Exo', sans-serif;
    margin: 0;
    padding: 0;
}

.vacancies-table th, td, caption{
    border-bottom: 1px solid #000000;
    padding: 50px 35px;
}

.vac-list-div table{
    border-collapse: collapse;
    margin-bottom: 50px;
}

.vac-list-div{
    min-width: 850px;
    width: 75%;
    margin: 70px auto 0;
}

.spec-loc-td{
    width: 15%;
    font-size: 13px;
}

.spec-loc-td span{
    font-size: 19px;
}

.descr-td{
    width: 50%;
    padding: 50px 20px;
}

.status-td{
    width: 8%;
    font-size: 18px;
}

.actions-td{
    width: 10%;
}

.header-image{
    width: 100%;
    /*margin: 100px auto;
    min-width: 900px;
    max-width: 1440px;*/
}

.header-image img{
    width: 100%;
    height: auto;
}

/*add vacancy modal frame*/
#spec_input,
#loc_input{
    height: 43px;
    font: inherit;
    font-size: 19px;
    overflow-x: hidden;
    padding: 8px;
}

/*buttons*/
.popup .buttons{
    margin: 20px auto;
    font-size: 19px;
    font-weight: bold;
    background: rgba(65, 169, 219, 0.7);
    display: inline-block;
    border-radius: 4px;
    border: none;
    height: 48px;
    padding: 8px 10px;
}

#add_vac_btn{
    font-weight: bold;
    background-color: rgba(74, 207, 136, 0.8);
}

#add_vac_btn:hover{
    background-color: rgba(74, 207, 136, 1);
}

#delete_btn{
    background: rgba(67, 191, 242, 0.7);
    border-radius: 13px;
    width: 100px;
    height: 32px;
    float: right;
    font-size: 15px;
}

#delete_btn:hover{
    background: rgb(67, 191, 242);
}

#edit_btn{
    background-color: rgba(74, 207, 136, 0.7);
    border-radius: 13px;
    width: 100px;
    height: 32px;
    float: right;
    font-size: 15px;

}

#edit_btn:hover{
    background-color: rgb(74, 207, 136);
}

#apply_btn{
    background: rgba(67, 191, 242, 0.81);
    border-radius: 13px;
    float: right;
    font-size: 15px;
}

#apply_btn:hover{
    background: rgba(67, 191, 242, 1);
}

#submit_btn_alt{
    width: 46%;
    margin: 20px auto;
    font-size: 19px;
    font-weight: bold;
    background: rgba(65, 169, 219, 0.7);
    display: inline-block;
    border-radius: 4px;
    height: 48px;
    padding: 8px 10px;
}

#cancel_btn_alt{
    width: 46%;
    margin: 20px auto 20px 46px;
    font-size: 19px;
    font-weight: bold;
    background: rgba(65, 169, 219, 0.7);
    display: inline-block;
    border-radius: 4px;
    height: 48px;
    padding: 8px 10px;
}

#submit_btn:hover,
#cancel_btn:hover{
    background: rgb(65, 169, 219);
}

#submit_btn_alt:hover{
    background: rgba(74, 207, 136, 0.6);
}

#cancel_btn_alt:hover{
    background: rgba(219, 79, 71, 0.6);
}

@media only screen and (max-width: 1200px) {

    .vacancies-table th, td, caption{
        padding: 30px 5px;
    }
}