.buttons {
    background-color: rgba(74, 207, 136, 0.86);
    border: none;
    color: white;
    padding: 6px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font: inherit;
    font-size: 16px;
    margin: 4px 10px;
    cursor: pointer;
    box-shadow: 1px 1px 3px rgba(0,0,0,.15);

}

.buttons:hover {
    background-color: rgba(74, 207, 136, 1);
    cursor: pointer;
}

.buttons:active, .buttons:focus {
    border: 0 !important;
    outline: none !important;
}
.buttons::-moz-focus-inner {
    border: 0 !important;
}