.err_messages{
    position: relative;
    text-align: center;
    padding: 20px 50px;
    background: rgba(255, 0, 0, 0.1);
    border-radius: 2px;
    display: block;
    width: 50%;
    margin: 80px auto;
}