html,body{
    height:100%;
    margin:0;
    padding:0;
}
#wrapper{
    display: table;
    height:100%;
}

#footer{
    display: table-row;
    height: 70px;
    background-color: #c0c0c0;
    text-align: center;
    color: white;
    margin-top: 100px;
}

#wrapper, #footer{
    width:100%;
}

#separator{
    display: table-row;
    width:100%;
    height: 100px;
}

.copyright {
    position: relative;
    top: 10px;
    font-size: 18px;
}

#logo {
    font-weight: 600;
}

.contact {
    position: relative;
    top: 15px;
    font-size: 16px;
}

