.header-panel {
    /*width: 100%;*/
    margin: 60px auto;
    max-width: 1500px;
    min-width: 700px;
    background: #f7f7f7;
    padding: 30px 0;
}

.header-panel h2, h4 {
    text-align: center;
    margin: 15px auto;
}