@import "../../fonts/Exo2-Regular.ttf";

.nav-body{
    font-family: 'Exo', sans-serif;
    margin: 0;
}

.nav-form{
    margin: 0;
}

.topnav {
    overflow: hidden;
    background-color: #33414d;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 16px 17px;
    text-decoration: none;
    font-size: 19px;
    transition: all 0.15s ease;
}

.logout_btn {
    overflow: hidden;
    background-color: #33414d;
    display: block;
    border: none;
    color: white;
    text-align: center;
    padding: 19px 17px;
    text-decoration: none;
    font-size: 14px;
    outline: none;
    font-family: 'Exo', sans-serif;
    float: right;
    transition: all 0.15s ease;
}

.logout_btn:active {
    overflow: hidden;
    background-color: #42525f;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 17px 17px;
    text-decoration: none;
    font-size: 15px;
}

.logout_btn:hover {
    outline: none;
    color: rgba(255, 0, 0, 1);
    background-color: #42525f;
    text-shadow: -4px 7px 8px black;
}

.topnav .icon {
    display: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.list-symbol{
    font-size: 0.7em;
}

.dropdown-right {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 19px;
    border: none;
    outline: none;
    color: white;
    padding: 16px 17px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    transition: all 0.15s ease;
}

.dropdown-right .dropbtn-right {
    font-size: 14px;
    border: none;
    outline: none;
    color: white;
    padding: 19px 17px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    transition: all 0.15s ease;
    text-transform: uppercase;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #33414d;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content-right {
    display: none;
    position: absolute;
    background-color: #33414d;
    min-width: 63px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content-right a,
.dropdown-content-right button{
    float: none;
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 14px;
    width: 100%;
    background-color: #33414d;
    border: none;
}

.topnav a:hover, .dropdown:hover .dropbtn {
    color: #4acf88;
    background-color: #42525f;
    text-shadow: -4px 7px 8px black;
    transition: all 0.15s ease;
}

.dropdown-right:hover .dropbtn-right {
    color: #4acf88;
    background-color: #42525f;
    text-shadow: -4px 7px 8px black;
}

.dropdown-content a:hover {
    background-color: #42525f;
    color: #4acf88;
}

.dropdown-content-right a:hover,
.dropdown-content-right button:hover {
    background-color: #42525f;
    color: #4acf88;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-right:hover .dropdown-content-right {
    display: block;
}

.header_logo {
    float: left;
    padding: 6px 40px 5px 40px;
    background: #33414d;
    text-shadow: -3px 6px 8px black;
}

.header_logo div {
    float: left;
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-size: 2em;
    font-weight: 500;
}
.header_logo div span {
    color: #41a9db;
}
