.pagination {
    display: inline-block;
    text-align: left;
    width: 50%;
    margin: 0 auto;
    padding: 8px 16px;
}

#current_rows {
    display: inline-block;
    text-align: left;
    width: 40%;
    font-size: 18px;
}

.pagination a{
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    background: #f0f0f0;
}

.pagination span {
    color: #a9a9a9;
    padding: 8px 16px;
    text-decoration: none;
    background: #f0f0f0;
}

.pagination #active_page {
    background-color: #7bd2f6;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}