@charset "UTF-8";

.popup *, .popup *:after, .popup *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#modal_form_id {
    overflow: hidden;
    margin: 0 auto;
    padding: 30px 30px 6px 30px;
    min-width: 450px;
    max-width: 700px;
    width: 100%;
    border: 1px solid rgba(120, 120, 120, .7);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #FFFFFF;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-box-shadow: 0 0 13px 3px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 0 13px 3px rgba(0, 0, 0, .5);
    box-shadow: 0 0 13px 3px rgba(0, 0, 0, .5);

}

.popup h2 {
    color: #4acf88;
    margin: 0;
    text-align: center;
}

.popup textarea,.popup input, .popup select {
    display: block;
    margin-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    font-weight: 300;
    font-size: 18px;
}

.popup textarea{
    resize: none;
    width: 100%;
    height: 250px;
    border: 1px solid rgba(26, 26, 26, 0.6);
}

.popup input {
    width: 100%;
    height: 48px;
    border: 1px solid rgba(52, 52, 52, 0.4);
}

.popup select {
    width: 100%;
    height: 48px;
    border: 1px solid rgba(52, 52, 52, 0.4);
}

.popup input[type=submit] {
    cursor: pointer;
}

.popup input:focus,
.popup textarea:focus,
.popup select:focus{
    outline: none;
    border: 1px solid #4acf88;
    -moz-box-shadow: 0 0 2px 1px rgb(204, 204, 204);
    -webkit-box-shadow: 0 0 2px 1px rgb(204, 204, 204);
    box-shadow: 0 0 2px 1px rgb(204, 204, 204);
}

.popup label{
}

:focus::-webkit-input-placeholder {
    color: transparent;
}

:focus::-moz-placeholder {
    color: transparent;
}

:focus::placeholder {
    color: transparent;
}

.overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10000;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    position: fixed;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.modal {
    top: 0;
    right: 0;
    left: 0;
    width: 50%;
    z-index: 10001;
    opacity: 0;
    display: block;
    visibility: hidden;
    position: fixed;
    -webkit-transition: opacity 300ms ease-in;
    -moz-transition: opacity 300ms ease-in;
    transition: opacity 300ms ease-in;
}

.overlay:target + .modal {
    top: 7%;
    visibility: visible;
    opacity: 1;
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .modal {
        width: 95%;
    }
}

@media only screen and (min-width: 459px) and (max-width: 767px) {
    .modal {
        width: 85%;
    }
}
